.App {
  max-width: 520px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(195deg, #000544 15%, #00d6c5 100%);
  font-family: 'Exo 2', 'Helvetica Neue', sans-serif;

  &__display {
    height: 25vh;
  }
}