.ButtonPanel {
  height: 75vh;
  display: flex;

  > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;
  }

  &__left {
    width: 80%;
    flex-direction: row;

    .Button {
      width: calc(100%/3);
      height: calc(100%/5);
    }
  }

  &__right {
    width: 20%;
    display: flex;
    flex-direction: column;

    .Button {
      width: 100%;
      flex: 1;
      background: rgba(148, 148, 148, 0.35);
    }
  }
}
