.Button {
  height: 35px;
  background: transparent;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border-left: 0;
  border-bottom: 0;

  color: white;
  font-size: 2rem;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 40ms ease-in-out;

  &:focus {
    outline: 0;
  }

  &:hover:focus {
    background-color: rgba(0,0,0, 0.1);
  }
}