.CurrencyDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  > div {
    display: flex;
    justify-content: space-evenly;
  }

  &__rate {
    color: white;
    margin: 0;
    text-align: center;
  }

  select {
    width: 150px;
    height: 45px;
    padding: 0 10px;

    color: white;
    font-size: 22px;
    font-weight: 600;
    font-family: inherit;

    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    background: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}