.App {
  max-width: 640px;
  height: 100vh;
  margin: 0 auto;

  &__display {
    height: 25vh;
    background-color: #858694;
    color: white;
    text-align: right;
    font-weight: 200;
    flex: 0 0 auto;
    width: 100%;

    &__expression {
      font-size: 3rem;
    }

    &__result {
      font-size: 2rem;
    }

    > p {
      width: 100%;
      overflow-x: auto;

      margin: 0 0 20px;
      padding: 0 15px;
    }
  }
}